<section class="carauosel-banner">
    <div class="section-home">
        <div class="banner">
            <img src="/assets/images/banner2-scaled.jpg" alt="Background Pattern">
        </div>
        <div class="heading">
            <p class="title">Sacred Being</p>
        </div>
    </div>
</section>
<section class="about-us">
    <div>
        <p>
            A global transformation is underway and is awakening hearts and minds across the world. It’s time to shift our perception above 
            and beyond the confines of our 3D reality. The Sacred Being is an inclusive, unbiased and global platform for
             learning and healing, brought to you by international Transformation Coach, Sacred Geometry
             Philosopher and Corporate Keynote Speaker. Welcoming you to the world of Sacred Geometry and 
             providing you with realistic and relatable knowledge and tools to align with your energy field, 
             unlock your true potential and experience the sacred abundance of being.
        </p>
    </div>
</section>
<section class="events">
    <div>
        <div class="event-head">
            <h1>Upcoming Events</h1>
        </div>
        <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="all-events">
                        <div class="event-single-image" style="background-image: url('/assets/images/feb-event.jpg')">
                            <div class="event-body">
                                <h1>Sacred Circle 1</h1>
                                <div class="event-date">
                                    <p class="">20-09-2024<br>Zoom Online</p>
                                    <img src="/assets/images/flower_yellow_icon.png">
                                </div>
                                <p class="sub-title">Are you ready to unleash your highest potential and break free from the barriers</p>
                                <a [routerLink]="['/event']" routerLinkActive="router-link-active"  class="btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="all-events">
                        <div class="event-single-image" style="background-image: url('/assets/images/april-event.jpg')">
                            <div class="event-body">
                                <h1>Sacred Circle 2</h1>
                                <div class="event-date">
                                    <p class="">20-09-2024<br>Zoom Online</p>
                                    <img src="/assets/images/flower_yellow_icon.png">
                                </div>
                                <p class="sub-title">Are you ready to unleash your highest potential and break free from the barriers</p>
                                <a href="#" class="btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="all-events">
                        <div class="event-single-image" style="background-image: url('/assets/images/may-event.jpg')">
                            <div class="event-body">
                                <h1>Sacred Circle 3</h1>
                                <div class="event-date">
                                    <p class="">20-09-2024<br>Zoom Online</p>
                                    <img src="/assets/images/flower_yellow_icon.png">
                                </div>
                                <p class="sub-title">Are you ready to unleash your highest potential and break free from the barriers</p>
                                <a href="#" class="btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="all-events">
                        <div class="event-single-image" style="background-image: url('/assets/images/june-event.jpg')">
                            <div class="event-body">
                                <h1>Sacred Circle 4</h1>
                                <div class="event-date">
                                    <p class="">20-09-2024<br>Zoom Online</p>
                                    <img src="/assets/images/flower_yellow_icon.png">
                                </div>
                                <p class="sub-title">Are you ready to unleash your highest potential and break free from the barriers</p>
                                <a href="#" class="btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </ng-template> 
            
            <!-- @for (event of eventDetails; track event) {
            <ng-container>
                <ng-template carouselSlide>
                    <div class="all-events">
                        <div class="event-single-image">
                            <div class="event-body">
                                <h1>{{event.eventName}}</h1>
                                <div class="event-date">
                                    <p class="">{{event.eventDate}}<br>{{event.mode}}</p>
                                    <img src="/assets/images/flower_yellow_icon.png">
                                </div>
                                <p class="sub-title">{{event.shortDesc}}</p>
                                <a href="#" class="btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </ng-template> 
            </ng-container>
            } @empty {
                <p class="event-info">No events found</p>
            } -->
        </owl-carousel-o> 
    </div>   
</section>

<section class="portfolio">
    <div>
        <div>
            <h1 class="title">
                Meet Sheetal Ranjan
            </h1>
        </div>
        <div>                
            <div style="background-color: white; padding: 100px 50px;">
                <h1 style="padding-bottom: 20px;">
                   <q>Master your own energy and you master the universe.</q>
                </h1>
                <p>
                    Discover the world of Sacred Geometry with Sheetal Rajan, international Transformation Coach, Sacred Geometry Philosopher and Corporate Keynote Speaker. With over 10 years of experience, Sheetal guides seekers to align with their highest purpose by understanding and adopting principles, tools and resources curated from the world of science, spirituality and psychological sciences.
                </p>
                <p>
                    Join Sheetal for workshops, courses, retreats, talks as well as private and corporate coaching sessions, where she reintroduces you to nature, science, spirituality and even your own consciousness through the lens of Sacred Geometry.
                </p>
                <button class="btn" style="color: goldenrod;">Read more</button>
            </div>
        </div>
    </div>
    <div class="portfolio-img">
        <div>
            <div>
                <img src="/assets/images/sheetal_intro.png" style="height: 600px; width: 450px;" alt="sheetal" class="sheetal">
                <span class="sheetal-intro"></span>
            </div>
        </div>
    </div>
</section>

<section class="session">
    <div class="session-head">
        <h1 class="title">Say yes to abundance</h1>
        <p class="content">Choose your path and begin your journey. Explore how you, your loved ones and even your team can reconnect to a new worldview through the lens of Sacred Geometry.</p>
    </div>
    <div class="session-body">
        <ul>
            <li class="brdr-ltlb-0"><a href="">Private Coaching</a><img src="/assets/images/flower_yellow_icon.png"></li>
            <li class="brdr-ltlb-0"><a href="">Corporate Coaching</a><img src="/assets/images/flower_yellow_icon.png"></li>
            <li class="brdr-ltlb-0"><a href="">Event</a><img src="/assets/images/flower_yellow_icon.png"></li>
            <li class="brdr-ltlb-0"><a href="">Resources</a><img src="/assets/images/flower_yellow_icon.png"></li>
        </ul>
    </div>
</section>