<div class="about">
    <div class="section-about">
        <div class="banner">
                <img src="/assets/images/wooden_pattern-scaled.jpg" alt="banner-about">
            <div class="heading">
                <p class="title">ABOUT</p>
            </div>
        </div>
    </div>
    <div class="section-first">
        <div class="container">
            <div class="row outer-div">
                <div class="col-md-6 inner-div1">
                    <img src="/assets/images/about-sheetal-img.jpg">
                </div>
                <div class="col-md-6 inner-div2">
                    <h1>Meet Sheetal Ranjan</h1>
                    <p>
                        An international Transformation Coach, Sacred Geometry Philosopher and Corporate Keynote Speaker, Sheetal has facilitated events in Portugal, Germany, Austria, Netherlands, Turkey, Lebanon,  Sri Lanka, Indonesia, Dubai, India and more. Along with being a certified Quantum Healer, Theta Practitioner and Reiki Master, Sheetal is also an enigmatic speaker with a captivating personality. Her research in Sacred Geometry and its connection to human consciousness helps activate seekers in raising their vibration and unlocking abundance in their lives.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section-second">
        <div class="container">
            <div class="row">
                <div class="col-md-6 inner-div3">
                    <p>
                        For well over a decade, Sheetal traveled both physically and intellectually, 
                        expanding her knowledge into areas of quantum science, metaphysics, energy healing, 
                        manifestation laws, self-care, mindfulness and breathwork. On one such visit to the 
                        mountains of Nepal, she found herself aligning with the universal energy matrix and 
                        downloading the absolute wisdom of Sacred Geometry. She describes the experience as 
                        being “as natural as breathing, and yet, as overwhelming as an avalanche”. Upon returning 
                        to her home, she immediately began her research and study into the subject and today, 
                        she shares her learnings with seekers around the world.
                    </p>
                    <p>
                        As an Ascension Coach, Sheetal uses her knowledge of Sacred Geometry and her quantum 
                        abilities to reengineer the human energy field. She guides clients to heal themselves 
                        from psychological blocks, illnesses and even chronic conditions, so they can enjoy a 
                        more fulfilled and happy life; as well as evolve their consciousness.
                    </p>
                    <p>
                        As a Corporate Consultant, Sheetal gives keynote speeches and conducts workshops for businesses
                         interested in boosting the creativity, camaraderie and communication of employees. She also 
                         offers private coaching for upper management to help them break psychological barriers and 
                         achieve their greatest visions.
                    </p>
                </div>
                <div class="col-md-6 inner-div4"></div>
            </div>
        </div>
    </div>
    <div class="section-methodology">
        <div class="container">
            <div class="row outer-div2">
                <div class="col-md-9 inner-div5">
                    <div class="title-head">
                        <h2>The Secret Methodology</h2>
                    </div>
                    <div class="content">
                        <p>
                            “ The new shift in consciousness commands us to stop depending on gurus and masters to heal ourselves; instead recognise our own power to reengineer our reality. ”
                        </p>
                        <p>
                            Sheetal bridges the gap between science and spirituality and brings you workshops, courses and information on Sacred Geometry in a format and style that is engaging, palatable and relatable. By virtue of researched knowledge sharing, guided centering and activation sessions, Sheetal offers lifelong tools and exercises that will reconnect you to your highest self, align you to the universal energy matrix and unlock your true potential. She wants every seeker on the path to self-development to understand that when you connect with your own frequency and work on raising your vibrations, you experience the most natural state of being – abundance.
                        </p>
                    </div>
                    <div class="bg-img">
                        <span></span>
                        <img src="/assets/images/Methodology-circle.png">
                    </div>
                    <p>
                        Sheetal’s coaching method is simple yet profound and has transformed the lives of many seekers. She believes that to unlock our highest potential, we must work on three aspects of our selves – our mind, our vibe, our reality. Opening our mind helps to shift perspectives and attitudes, therefore increasing insight. Reengineering our vibe helps release traumas and beliefs, therefore heightening intuition. And finally, working on our reality helps achieve visions and goals, therefore sharpening our instinct.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="session">
        <div class="session-head">
            <h1 class="title">Say yes to abundance</h1>
            <p class="content">Choose your path and begin your journey. Explore how you, your loved ones and even your team can reconnect to a new worldview through the lens of Sacred Geometry.</p>
        </div>
        <div class="session-body">
            <ul>
                <li class="brdr-ltlb-0"><a href="">Private Coaching</a><img src="/assets/images/flower_yellow_icon.png"></li>
                <li class="brdr-ltlb-0"><a href="">Corporate Coaching</a><img src="/assets/images/flower_yellow_icon.png"></li>
                <li class="brdr-ltlb-0"><a href="">Event</a><img src="/assets/images/flower_yellow_icon.png"></li>
                <li class="brdr-ltlb-0"><a href="">Resources</a><img src="/assets/images/flower_yellow_icon.png"></li>
            </ul>
        </div>
    </section>
</div>