<div class="section-header">
    <div class="header">
        <div class="nav-bar-left">
            <a routerLink="" class="nav-bar-item">
                <img src="/assets/images/TSB-LOGO-2020.png" alt="logo" class="nav-bar-logo">
            </a>
        </div>
        <div class="nav-bar-right">
            <ul class="list-items">
                <li><a class="links" routerLink="event" routerLinkActive="active">Event</a></li>
                <li class="has-sub-menu"><a class="links">Coaching</a>
                    <ul class="sub-menu">
                        <li><a class="links" routerLink="private" routerLinkActive="active">Private</a></li> 
                        <li><a class="links" routerLink="corporate" routerLinkActive="active">Corporate</a></li>
                    </ul>
                </li>
                <li><a class="links" routerLink="resourecs" routerLinkActive="active">Resources</a></li>
                <li><a class="links" routerLink="gallery" routerLinkActive="active">Gallery</a></li>
                <li><a class="links" routerLink="about" routerLinkActive="active">About</a></li>
                <li><a class="links" routerLink="contact" routerLinkActive="active">ContactUs</a></li>  
            </ul>
        </div>
    </div>
</div>
