<div class="section-event">
    <div class="section-about">
        <div class="banner">
            <img src="/assets/images/blue_circle_pattern-scaled.jpg" alt="Background Pattern">
        </div>
        <div class="heading">
            <p class="title">Events</p>
        </div>
    </div>
    
    <div class="section-first">
        <div class="container">
            <div class="res-heading">
                <p class="res-text">
                    Step into a wonderful journey of discovery, learning and healing with Sheetal Rajan. Sign up for online and on-site events where Sheetal shares Sacred Geometry knowledge and tools to align your mind, vibe and reality.
                </p>
                <img src="/assets/images/circle_line.png">
            </div>
        </div>
    </div>
    <div class="section-event">
        <div class="container">
            
            <div class="events">
                <h2>
                    Upcoming Events
                </h2>
                <div class="row">
                    <div class="col-md-2">
                        <p class="week">Wednesday</p>
                        <h3 class="day">20</h3>
                        <p class="month">Aug 2024</p>
                    </div>
                    <div class="col-md-8">
                        <h3 class="main-heading">
                            Sacred Circle
                        </h3>
                        <p class="sub-heading">
                            Monthly gathering with Sheetal Rajan to connect and align
                        </p>
                        <p class="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>Wednesday, 19 June 2024 
                        </p>
                        <p class="info">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Zoom Online
                        </p>
                        <p class="price">
                            <i class="fa fa-usd" aria-hidden="true"></i>Price
                        </p>
                    </div>
                    <div class="col-md-2">
                        <button class="read-more">Read more</button>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p class="week">Wednesday</p>
                        <h3 class="day">20</h3>
                        <p class="month">Aug 2024</p>
                    </div>
                    <div class="col-md-8">
                        <h3 class="main-heading">
                            Sacred Circle
                        </h3>
                        <p class="sub-heading">
                            Monthly gathering with Sheetal Rajan to connect and align
                        </p>
                        <p class="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>Wednesday, 19 June 2024 
                        </p>
                        <p class="info">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Zoom Online
                        </p>
                        <p class="price">
                            <i class="fa fa-usd" aria-hidden="true"></i>Price
                        </p>
                    </div>
                    <div class="col-md-2">
                        <button class="read-more">Read more</button>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p class="week">Wednesday</p>
                        <h3 class="day">20</h3>
                        <p class="month">Aug 2024</p>
                    </div>
                    <div class="col-md-8">
                        <h3 class="main-heading">
                            Sacred Circle
                        </h3>
                        <p class="sub-heading">
                            Monthly gathering with Sheetal Rajan to connect and align
                        </p>
                        <p class="date">
                            <i class="fa fa-calendar" aria-hidden="true"></i>Wednesday, 19 June 2024 
                        </p>
                        <p class="info">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Zoom Online
                        </p>
                        <p class="price">
                            <i class="fa fa-usd" aria-hidden="true"></i>Price
                        </p>
                    </div>
                    <div class="col-md-2">
                        <button class="read-more">Read more</button>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="section-form">
        <div class="container">
            <h2>Subscribe to the Monthly Newsletter</h2>
            <div class="form-content">
                <div class="form-content-left">
                    <img src="/assets/images/MicrosoftTeams-image-3.png" alt="">
                </div>
                <div class="form-content-right">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mobile</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Company Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button mat-raised-button class="btn" color=""> Get In Touch </button>
                </div>
            </div>
        </div>
    </div>
</div>