<div class="section-page-not-found">
    <div class="section-page">
        <!-- <div class="banner">
            <img src="/assets/images/blue_circle_pattern-scaled.jpg" alt="Background Pattern">
        </div> -->
        <!-- <div class="heading">
            <p class="title">Oops! That page can’t be found.</p>
        </div> -->
    </div>
    
    <div class="section-first">
        <div class="container">
            <div class="res-heading">
                <p class="res-text">
                    Oops! That page can’t be found.
                </p>
                <p>
                    It looks like nothing was found at this location. Maybe try one of the links below or a search?
                </p>
                <input placeholder="Search..."> <br>
                <button>Search</button>
            </div>
        </div>
    </div>
</div>
