<div class="section-resource">
    <div class="section-about">
        <div class="banner">
            <img src="/assets/images/blue_circle_pattern-scaled.jpg" alt="Background Pattern">
        </div>
        <div class="heading">
            <p class="title">Resources</p>
        </div>
    </div>
    
    <div class="section-first">
        <div class="container">
            <div class="res-heading">
                <p class="res-text">
                    Discover the whole universe and therefore your own consciousness through articles that 
                    can help you with your journey of healing, reengineering and reprogramming your energy field.
                </p>
                <img src="/assets/images/circle_line.png">
            </div>
        </div>
    </div>
    <div class="section-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 blogs">
                    <img src="/assets/images/Podcast_Article_1.jpg" alt="Podcast Article 1">
                    <div class="content">
                        <h2>Sacred Conversation with Laura Chung</h2>
                        <p>A beautiful exchange with podcaster and recently published author of the book ‘How to Manifest’</p>
                        <a href="">Read more</a>
                        <p class="date">On: 26 Aug 2024</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 blogs">
                    <img src="/assets/images/Podcast_Article_2.jpg" alt="Podcast Article 2">
                    <div class="content">
                        <h2>Sacred Conversation with Laura Chung</h2>
                        <p>A beautiful exchange with podcaster and recently published author of the book ‘How to Manifest’</p>
                        <a href="">Read more</a>
                        <p class="date">On: 26 Aug 2024</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 blogs">
                    <img src="/assets/images/Podcast_Article_3.jpg" alt="Podcast Article 3">
                    <div class="content">
                        <h2>Sacred Conversation with Laura Chung</h2>
                        <p>A beautiful exchange with podcaster and recently published author of the book ‘How to Manifest’</p>
                        <a href="">Read more</a>
                        <p class="date">On: 26 Aug 2024</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <section class="session">
        <div class="session-head">
            <h1 class="title">Say yes to abundance</h1>
            <p class="content">Choose your path and begin your journey. Explore how you, your loved ones and even your team can reconnect to a new worldview through the lens of Sacred Geometry.</p>
        </div>
        <div class="session-body">
            <ul>
                <li class="brdr-ltlb-0"><a href="">Private Coaching</a><img src="/assets/images/flower_yellow_icon.png"></li>
                <li class="brdr-ltlb-0"><a href="">Corporate Coaching</a><img src="/assets/images/flower_yellow_icon.png"></li>
                <li class="brdr-ltlb-0"><a href="">Event</a><img src="/assets/images/flower_yellow_icon.png"></li>
                <li class="brdr-ltlb-0"><a href="">Resources</a><img src="/assets/images/flower_yellow_icon.png"></li>
            </ul>
        </div>
    </section>
</div>
