.section-about {
    position: relative;
    height: 450px;
    width: 100%;
    overflow: hidden; /* Ensure no content overflows the section */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire banner area */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4; /* Corrected opacity syntax */
}

.heading {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.title {
    font-family: 'Butler';
    font-size: 80px;
    color: #333; /* Add color to make text visible */
    text-transform: uppercase;
    mix-blend-mode: color-burn; /* This effect might be better with some backgrounds */
    opacity: 1;
    z-index: 999;
}


.section-first{
    background-image: url('/assets/images/cutout-spalsh.png');
    background-color:aliceblue;
    min-height: 450px;
    background-size: cover;
}

.res-heading{
    text-align: center;
    max-width: 950px;
    margin: auto;
    padding: 100px 0px;
}
.res-text {
    font-family: 'Butler';
    font-size: 34px;
    line-height: 60px;
    font-family: Butler;
    font-weight: 300;
    margin-bottom: 3rem;
}