<div class="section-portfolio">
    <div class="section-about">
        <div class="banner">
            <img src="/assets/images/triangle_pattern-scaled.jpg" alt="Background Pattern">
        </div>
        <div class="heading">
            <p class="title">Gallery</p>
        </div>
    </div>
    
    <div class="section-first">
        <div class="container">
            <div class="res-heading">
                <p class="res-text">
                    Portugal, Germany, Austria, Netherlands, Turkey, Lebanon, Sri Lanka, Dubai (United Arab Emirates), India, Indonesia. Sheetal has taken her work across the globe – connecting with seekers and holding space for them to align with the universal energy matrix.
                </p>
                <img src="/assets/images/circle_line.png">
            </div>
        </div>
    </div>
</div>