<div class="section-footer">
    <div class="nav-footer-logo">
        <div class="logo-footer">
            <img src="/assets/images/TSB-LOGO-2020.png" class="img-fluid rounded-top" alt=""/>
            <p class="para">
                Lorem ipsum dolor sit amet consectetur elit.<br>
                Repellendus, error maiores voluptate sed <br>
                tempore similique recusandae, quisquam,<br>
                pariatur illo optio dolorem atque corporis.
            </p>
        </div>
    </div>
    <div>
        <ul class="footer-nav">
            <li><a href="">About Us</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Terms&Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
    </div>
    <div>
        <Form>
            <div class="inner-form">
                <span class="form-box">
                    <input class="input1" type="text" placeholder="Subscribe us">
                </span>
                <input class="input2" type="submit" value="Subscribe" placeholder="Subscribe">
            </div>
            <div>
                <span>
                    Follow Us:
                </span>
                <span class="social-icon">
                    <mat-icon aria-label="Example facbook icon" fontIcon="facbook"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example instagram icon" fontIcon="instagram"></mat-icon>
                </span>
            </div>
        </Form>
    </div>
</div>