<div class="section-private-coaching">
    <div class="section-about">
        <div class="banner">
            <img src="/assets/images/shutterstock_1446570233-1.jpg" alt="Background Pattern">
        </div>
        <div class="heading">
            <p class="title">Corporate Coaching</p>
        </div>
    </div>
    
    <div class="section-first">
        <div class="container">
            <div class="res-heading">
                <p class="res-text">
                    Start your conferences, seminars, networking events on the right note. Welcome a new shift in 
                    perspective where your corporate family discovers the importance of team dynamics, individual
                     insight and collective progress. Sheetal’s charismatic presence and structured delivery of 
                     information for audiences creates an engaging environment and enthralling ambience.
                </p>
                <img src="/assets/images/circle_line.png">
            </div>
        </div>
    </div>
    <div class="animated-circle-section">
        <div class="container">
            <div class="all-circle">
                <div class="circle">
                    <div class="content">
                        <h3>Keynote Seminar</h3>
                        <p>Event Address and speechs</p>
                    </div>
                </div>
                <div class="circle">
                    <div class="content">
                        <h3>Executive Excellence</h3>
                        <p>Upper management private session</p>
                    </div>
                </div>
                <div class="circle">
                    <div class="content">
                        <h3>Team Transformation</h3>
                        <p>Team building workshop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-form">
        <div class="container">
            <div class="form-content">
                <div class="form-content-left">
                    <img src="/assets/images/2020-10-9-17.42.41.440.jpeg" alt="">
                </div>
                <div class="form-content-right">
                    <p >
                        Do you want bespoke material – tailor made for your audience? Do you want a specific 
                        message included in the session to align with your theme and your vision for your team? 
                        Sheetal curates information that bridges science and consciousness with self-development and team building, 
                        offering your audience real value and practical tools for achieving success.
                    </p>
                    <h4>
                        Customise the right message for your team with Sheetal. Contact us for more details.
                    </h4>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mobile</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Company Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button mat-raised-button class="btn" color=""> Get In Touch </button>
                </div>
            </div>
        </div>
    </div>
</div>