<div class="terms-section">
    <div class="container">
        <div>
            <h3>Terms and Conditions</h3>

            <p>Welcome to TSB! These terms and conditions outline the rules and regulations for the use of TSB's Website and Services. </p>

            <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use TSB if you do not agree to all of the terms and conditions stated on this page.</p>

            <h3>Cookies</h3>

            <p>We employ the use of cookies. By accessing TSB, you agreed to use cookies in agreement with the [Your Company Name]'s Privacy Policy.</p>

            <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website.</p>

            <h3>License</h3>

            <p>Unless otherwise stated, [Your Company Name] and/or its licensors own the intellectual property rights for all material on TSB. All intellectual property rights are reserved. You may access this from TSB for your own personal use subjected to restrictions set in these terms and conditions.</p>

            <h3>You must not: </h3>

            <p>Republish material from TSB Sell, rent or sub-license material from TSB Reproduce, duplicate or copy material from TSB Redistribute content from TSB This Agreement shall begin on the date hereof.</p>
        </div>
    </div>
</div>
