<div class="section-contact-page">
    <div class="section-contact">
        <div class="banner">
            <img src="/assets/images/contact-us-banner.jpg" alt="Background Pattern">
        </div>
        <div class="heading">
            <p class="title">Contact</p>
        </div>
    </div>
    <div class="section-first">
        <div class="container">
            <div class="form-content">
                <div class="form-content-left">
                    <img src="/assets/images/MicrosoftTeams-image-3.png" alt="">
                </div>
                <div class="form-content-right">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mobile</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Company Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button mat-raised-button class="btn" color=""> Get In Touch </button>
                </div>
            </div>
        </div>
    </div>
</div>
