<div class="section-private-coaching">
    <div class="section-about">
        <div class="banner">
            <img src="/assets/images/red_flower_img-scaled.jpg" alt="Background Pattern">
        </div>
        <div class="heading">
            <p class="title">Private Coaching</p>
        </div>
    </div>
    
    <div class="section-first">
        <div class="container">
            <div class="res-heading">
                <p class="res-text">
                    You are being called to awaken, reassess your life and reconnect to your most authentic self. Are you ready for your transformation?
                </p>
                <img src="/assets/images/circle_line.png">
            </div>
        </div>
    </div>
    <div class="private-session">
        <div class="container">
            <div class="row">
                <div class="private">
                    <div class="div-first">
                        <div class="session-inner">
                            <h1>Discovery Call</h1>
                            <p>Duration: <span>1 day / 20 minutes</span></p>
                            <p>Format: <span>Online Globally</span></p>
                            <p>Timezone: <span>GMT+05:30</span></p>
                            <p>Price: <span>$50</span></p>
                            <button>Book A Session <img src="/assets/images/flower_yellow_icon.png"></button>
                        </div>
                    </div>
                    <div class="div-second">
                        <p class="para1">THIS 3-DAY SESSION IS DIVIDED INTO 2 CONSECUTIVE DAYS IN THE BEGINNING AND 1 FOLLOW-UP SESSION AFTER 30 DAYS</p>
                        <p class="para2">
                            Are you always one-step behind in your career? Are you unable to break the cycle of bad relationships? 
                            Are your childhood traumas manifesting as depression, anxiety or disease? It is time to break these 
                            patterns and unlock your true potential with a deep immersion session that will completely transform 
                            your energy field. Sacred Transformation is designed for seekers who are ready to upgrade their lives, 
                            are eager to ascend into higher states of clarity and tap into their own consciousness to access abundance 
                            in all areas of their lives. The sessions include channeling, cleansing, coding and coaching; as well as 
                            exercises to be done for 60 days.
                        </p>
                        <h2>
                            Expected Results:
                        </h2>
                        <ul>
                            <li>Understand Sacred Geometry and its connection to YOU</li>
                            <li>Release energy blocks and limiting beliefs</li>
                            <li>Renew your perspective and sense of purpose</li>
                            <li>Experience a shift in the energies and events of your life </li>
                            <li>Enjoy increased clarity and focus in making life decisions and setting realistic goals</li>
                        </ul>
                        <h2>
                            Added Value:
                        </h2>
                        <ul>
                            <li>Access to Sheetal for 60 days</li>
                            <li>Access to 3 Sacred Circle community sessions (3 consecutive months after booking Sacred Transformation)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="private">
                    <div class="div-first">
                        <div class="session-inner"  style="background-color: #123132;">
                            <h1>Sacred Body Alignment</h1>
                            <p>Duration: <span>1 day / 30 minutes</span></p>
                            <p>Format: <span>Online Globally</span></p>
                            <p>Timezone: <span>GMT+05:30</span></p>
                            <p>Price: <span>$100</span></p>
                            <button>Book A Session <img src="/assets/images/flower_yellow_icon.png"></button>
                        </div>
                    </div>
                    <div class="div-second">
                        <p class="para1">THIS 3-DAY SESSION IS DIVIDED INTO 2 CONSECUTIVE DAYS IN THE BEGINNING AND 1 FOLLOW-UP SESSION AFTER 30 DAYS</p>
                        <p class="para2">
                            Are you always one-step behind in your career? Are you unable to break the cycle of bad relationships? 
                            Are your childhood traumas manifesting as depression, anxiety or disease? It is time to break these 
                            patterns and unlock your true potential with a deep immersion session that will completely transform 
                            your energy field. Sacred Transformation is designed for seekers who are ready to upgrade their lives, 
                            are eager to ascend into higher states of clarity and tap into their own consciousness to access abundance 
                            in all areas of their lives. The sessions include channeling, cleansing, coding and coaching; as well as 
                            exercises to be done for 60 days.
                        </p>
                        <h2>
                            Expected Results:
                        </h2>
                        <ul>
                            <li>Understand Sacred Geometry and its connection to YOU</li>
                            <li>Release energy blocks and limiting beliefs</li>
                            <li>Renew your perspective and sense of purpose</li>
                            <li>Experience a shift in the energies and events of your life </li>
                            <li>Enjoy increased clarity and focus in making life decisions and setting realistic goals</li>
                        </ul>
                        <h2>
                            Added Value:
                        </h2>
                        <ul>
                            <li>Access to Sheetal for 60 days</li>
                            <li>Access to 3 Sacred Circle community sessions (3 consecutive months after booking Sacred Transformation)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>